{% extends 'base_feed.html' %}

{% block title %}Rent{% endblock %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" >
    // Check whether the rental end date is later than the rental start date.
    function checkDates() {
        var rentals = document.template.rentalstart;
        var rentale = document.template.rentalend;

        console.log(rentals, rentale);

        if (rental <= rentals) {
            document.getElementById('content-rs').innerHTML = "Rental start date is later";
            document.getElementById("rentalstart").style.border = "thin solid #ff0000";
            return false;
        }
        else {
            document.getElementById('content-rs').innerHTML = "";
            document.getElementById("rentalstart").style.border = "1px solid #91DDDA";
        }

        document.getElementById('send').disabled = false;
        return true;
    }

    // Display printed e-mail.
    function printEmail() {
        var email = $("#template").val();
        console.log("email: ", email);
    }
</script>


<!-- Display dress to rent, rental date information, and e-mail template -->
<h1 id="rentheader">Rent this dress</h1>
{% for d in object %}
    <!-- Display photo of dress -->
     <div align="center">
        <img style="width: 300px; height: 400px;" src="/media/{{d.photo.name}}">
     </div>

     <!-- Container for rental specifications -->
     <div class="container">
         <div class="col-md-6" id="rental">
                <form name="template" method="post" action="/maketemplate/" enctype="multipart/form-data" onsubmit="return checkDates()">
                    {% csrf_token %}
                    <!-- Rental Start Date -->
                    <div class="form-group">
                        <h1 class="title">Rent Start Date:</h1>
                        <input type="date" required class="form-control" name="rentalstart" id="rentalstart" class="input">
                        <h1 id = "content-rs" class="rental_info"></h1>
                    </div>

                    <!-- Rental End Date -->
                    <div class="form-group">
                        <h1 class="title">Rent End Date:</h1>
                        <input type="date" required class="form-control" name="rentalend" id="rentalend" class="input">
                        <h1 id = "content-re" class="rental_info"></h1>
                    </div>

                    <!-- Additional Information -->
                    <div class = "form-group">
                        <h1 class="title">Additional information:</h1>
                        <textarea rows="3" class="form-control" name="extrainfo" id="extrainfo" placeholder="Any questions, concerns or comments for the seller?"></textarea>
                        <h1 id = "content-a" class="rental_info"></h1>
                    </div>
                    <button type="submit" value="{{d.id}}" name="dress_id" class="btn btn-success email">Generate email template!</button>
                  <br><br>
              </form>
        </div>

        <!-- Auto-generated e-mail template -->
        <div class="col-md-6" align="center" id="email">
            <form name="upload" method="post" action="/sendemail/" enctype="multipart/form-data" onsubmit="printEmail()" align="center">
                {% csrf_token %}
                <h1 class="template">Email Template:</h1>
                <textarea rows="3" class="form-control" id ="template" required name="template">{{text}}</textarea>
                <h1 id = "content-t"></h1>
                <button type="submit" id = "send" value="{{d.id}}" name="dress_id" class="btn btn-success email">Send email!</button>
            </form>
        </div>
    </div>
{% endfor %}
{% endblock %}
